## Question 1

Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

In [3]:
shopping = list(['spam', 'ham', 'eggs', 'ham'])

In [4]:
shopping

['spam', 'ham', 'eggs', 'ham']

1. Extract the second element of the list.

In [10]:
shopping[1]

'ham'

2. Extract the first to third (inclusive) element of the list.

In [14]:
shopping[0:3]

['spam', 'ham', 'eggs']

3. Extract only the last element of the list.

In [15]:
shopping[-1]

'ham'

<br>

<br>

## Question 2

1. Append Edinburgh Waverley to the end of the list

In [32]:
stops = ["Croy", "Cumbernauld", 
         "Falkirk High", "Linlithgow", 
         "Livingston", "Haymarket"]

In [34]:
stops.append("Edinburgh Waverley")

In [35]:
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

2. Add "Queen Street" to the start of the list

In [36]:
stops.insert(0, "Queen Street")

In [24]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley',
 'Queen Street',
 'Edinburgh Waverley']

3. Find out what index "Croy" is at in the list

In [44]:
stops.index("Croy")

1

4. Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")

In [37]:
stops.insert(4, "Polmont")

In [38]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

5. Remove "Haymarket" from the list of stops

In [39]:
stops.remove("Haymarket")

In [40]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

6. Remove all items from stops

In [42]:
stops.replace(char, "")

AttributeError: 'list' object has no attribute 'replace'

In [43]:
stops.remove(char)

NameError: name 'char' is not defined

## Question 3

In [45]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

1. Return the keys, values and items from this dictionary

In [46]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [47]:
person.values()

dict_values(['Steph', 31, True])

In [48]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

2. Take out only the name from it

In [49]:
person["name"]

'Steph'

3. Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

In [50]:
person.update({"email" : "steph@codeclan.com"})

In [51]:
person["email"]

'steph@codeclan.com'

4. Delete the job description from the dictionary (Hint: look up the del function)

In [53]:
del person['Instructor']

In [54]:
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}